 h2 {float: left;
	background: linear-gradient(to bottom, #FF9, #9C0);
	background: -moz-linear-gradient(top, #FF9, #9C0);
	background: -webkit-gradient(linear, left top, left bottom, from(#FF9), to(#9C0));
}
#action button {margin-left: 20px; border-radius: 10px; border-style: outset;
	background: linear-gradient(to bottom, #CFF, #6CC);
	background: -moz-linear-gradient(top, #CFF, #6CC);
	background: -webkit-gradient(linear, left top, left bottom, from(#CFF), to(#6CC));
}
td:hover {background-color: lightblue;}
td:active {background-color: red;}

*:not(input):not(textarea) {
    -webkit-touch-callout: none;
    -webkit-user-select: none; /* Disable selection/Copy of UIWebView */
}

#action {width: 2048px; height: 90px; padding: 0px; margin: 0px;}
#prev {display: none; font-size: x-large;}
#next {font-size: x-large;}
#selectSpec {background-color: white; opacity: 1.0; }
#spectab figure, #optlist figure, #sizelist figure {border-radius: 10px; border-style: outset;}
#spectab figure, #opttab figure, #sizelist figure {
background: linear-gradient(to bottom, rgba(255, 255, 200, 0.5), rgba(192, 192, 150, 0.5));
background: -moz-linear-gradient(top, rgba(255, 255, 200, 0.5), rgba(192, 192, 150, 0.5));
background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 200, 0.5)), to(rgba(192, 192, 150, 0.5)));
}
#selectMisc {position: relative; overflow: auto; width: 2048px;}
#selectDesign {background-color: white; opacity: 1.0;}
#itemdiv {float: left; overflow: auto; /* width: 125px; */ height: 1420px; background-color: #DDDDDD;}
#itemtab {height: 1320px; overflow: auto;}
#itemtab table {border-collapse: separate; border-spacing: 20px 20px;}
#itemtab tr {background-color: white;}
#itemtab td {position: relative; width: 256px; height: 260px;} /* widthÇ™257pxà»è„ÇæÇ∆ëSëÃÇ™ÇÕÇ›èoÇÈ */
#itemtab img {position: absolute; left: 140px; top: 0px; width: 100px;}
.itemlabel {position: absolute; top: 230px; left: 20px; width: 230px; white-space: nowrap; overflow: hidden; text-overflow: clip;}
#price {position: relative; height: 100px; width: 298px; margin: 0px;}
#itemFinished {position: absolute; left: 20px; top: 55px; width: 210px; font-size: medium; color: white;
	background: linear-gradient(to bottom, #FFC, #CC6);
	background: -moz-linear-gradient(top, #F9C, #C66);
	background: -webkit-gradient(linear, left top, left bottom, from(#F9C), to(#C66));
}

#offline {background-color: yellow; display: none; border-style: none;}
/* canvas area */
#avatar_area {float: left; width: 900px; height: 1420px; padding: 0px; background-color: #EFEFEF; opacity: 1.0;}
#front_back {position: relative; width: 880px; height: 1320px; padding: 0px; margin: 0px 10px 0px 10px; background-color: white; opacity: 1.0;}
#white_canvas {position: absolute; top: 0px; left: 0px; height: 1320px; margin: 0px 0px 0px 0px; padding: 0px; background-color: white;}
#front {position: absolute; z-index: 1; top: 0px; left: 0px; height: 1320px; margin: 0px 0px 0px 0px; padding: 0px; background-color: yellow;}
#back {position: absolute; z-index: 2; top: 900px; left: 660px; height: 9900px; margin: 0px 0px 0px 0px; padding: 0px; background-color: white;}
#view_front_back {position: relative; top: 1320px; height: 100px; margin: 0px; z-index: 3;}
#view_front {position: absolute; left: 600px; top: 10px; font-size: medium;}
#view_back {position: absolute; left: 700px; top: 10px; font-size: medium;}

#waydiv {float: left; overflow: auto; width: 820px; height: 1420px; margin: 0px 10px; background-color: #DDDDDD;}
#colortab {width: 800px; height: 1320px; overflow-x: hidden; overflow-y: auto; margin: 0px;}
#colortab table {border-collapse: separate; border-spacing: 0px 0px; width: 800px;}
#colorlist tr {background-color: white; width: 780px;}
#colorlist th {padding: 4px; width: 132px; font-size: xx-large;}
#colorlist td {padding: 0px; width: 160px;}
#colorlist td img {padding: 0px; width: 160px;}
#colorlist td figcaption {width: 140px; white-space: nowrap; overflow: hidden; text-overflow: clip; font-size: x-large;}
#priceless {height: 100px; margin: 0px;}

#opttab {float: left; overflow: auto; width: 250px; height: 1320px; visibility: visible;}
#partstab {float: left; overflow: auto; width: 250px; height: 1320px; visibility: visible;}

#SizeData {display: none; width: 840px; height: 1420px; padding: 0px;}
#selectSize {float: left; width: 840px; height: 1320px; background-color: white;}
#selectSize figure {font-size: xx-large;}
#selectSize label {font-size: xx-large;}
#matashitaScale {position: relative; height: 40px;}
#matashitaScale label {position: absolute; font-size: xx-large;}
#matashita {height: 40px; margin: 10px 0px 6px 16px;}
#matashita_min {height: 40px; border: 0; font-size: medium;}
#matashita_max {height: 40px; border: 0; font-size: medium;}
#slidervalue {font-size: xx-large;}
#sizefill {height: 100px; margin: 0px;}

.c-both {clear: both;}
/* tootipóp css */
.tooltip {
position: relative;
}
.tooltip .tooltipBody {
border: solid 2px #f98325;
-moz-border-radius: 4px;
-webkit-border-radius: 4px;
border-radius: 4px;
position: absolute;
left: 1em;
top: 0.0em; /* -2.7e ÇèCê≥ */
text-decoration: none;
visibility: hidden;
padding: 3px 5px;
width: 120px; /* 200px ÇèCê≥ */
zoom: 1;
}
.tooltip:hover ,
.tooltip:hover .tooltipBody {
background-color: white;
visibility: visible;
z-index: 10;
}
.tooltip .tooltipBody .tooltipAngle {
border-right: solid 10px transparent;
border-left-width: 0;
border-top: solid 10px #f98325;
line-height: 0;
position: absolute;
left: 1em;
bottom: -10px;
}
.tooltip .tooltipBody .tooltipAngle .tooltipAngleInner {
border-right: solid 5px transparent;
border-left-width: 0;
border-top: solid 5px white;
line-height: 0;
position: absolute;
left: 2px;
bottom: 5px;
}
/* not supported tanseparent for border by IE6. */
* html .tooltip .tooltipBody .tooltipAngle {
border-right-color: white;
bottom: -11px;
}
* html .tooltip .tooltipBody .tooltipAngle .tooltipAngleInner {
border-right-color: #f98325;
}
